.popup__container {
    max-width: 430px;
    max-height: 330px;
    margin: 0 auto;
    background: #FFFFFF;
    color: #000000;
    position: relative;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}